* {box-sizing: border-box;}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #040016;
  font-family: Inter, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 4em 0;
}

@media (max-width: 670px){
  .section__header {
    text-align: center;
    font-size: 1.5rem;
  }
}

.component-container {
  display: flex;
  flex-direction: column;
  gap: 6em;
  margin: 0 auto;
  width: 80%;
  padding: 1em;
}

.badge-grid,
.banner-grid,
.card-grid,
.image-testimonial-grid,
.testimonial-grid,
.tooltip-grid,
.toast-grid {
  background: rgba(255, 255, 255, 0.25);
  padding: 2em;
  border-radius: 2em;
  width: 100%;
}

/* -------------------------- Badge Component -------------------------- */

.badge-grid {
  display: grid;
  grid-template: repeat(3, auto) / repeat(8, auto);
  grid-auto-flow: column;
  justify-items: center;
  gap: 1.2em 1.2em;
}

@media (max-width: 940px) {
  .badge-grid {
    grid-template: repeat(5, auto) / repeat(4, 1fr);
    grid-auto-flow: row;
  }
}

@media (max-width: 660px){
  .badge-grid {
    grid-template: repeat(9, auto) / repeat(2, 1fr);
    align-items: end;
    justify-items: center;
  }
}

.badge-grid__title {
  grid-column: 1 / -1;
  margin: 0 auto 1em auto;
  color: #fff;
}

/* General */
.badge {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  width: min-content;
  text-align: center;
  height: min-content;
  padding: 0.125em 0.75em;
}

/* Shapes */
.badge--square {
  border-radius: 0.25em;
}

.badge--pill {
  border-radius: 0.75em;
}

/* Colors */
.badge--gray {
  background: #F3F4F6;
  color: #1F2937;
}

.badge--red {
  background: #FEE2E2;
  color: #991B1B;
}

.badge--yellow {
  background: #FEF3C7;
  color: #92400E;
}

.badge--green {
  background: #D1FAE5;
  color: #065F46;
}

.badge--blue {
  background: #DBEAFE;
  color: #1E40AF;
}

.badge--indigo {
  background: #E0E7FF;
  color: #3730A3;
}

.badge--purple {
  background: #EDE9FE;
  color: #5B21B6;
}

.badge--pink {
  background: #FCE7F3;
  color: #9D174D;
}

/* -------------------------- Banner Component -------------------------- */

.banner-grid {
  display: grid;
  gap: 2em;
  padding-bottom: 3em;
}

.banner-grid__title {
  color: #FFF;
  margin: 0 auto 0.5em auto;
}

/* General */
.banner {
  display: grid;
  grid-template: auto 1fr / min-content auto;
  grid-template-areas:
      "icon message"
      ".... content";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 1em;
  border-radius: 0.375em;
  column-gap: 0.75em;
}

.banner__icon {
  grid-area: icon;
  height: 1.2rem;
  width: 1.2rem;
}

.banner__message {
  grid-area: message;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.banner__content {
  grid-area: content;
  margin: 0.5em 0 0 0;
}

/* Banner Body */
.banner--neutral {
  color: #1C51B9;
  background: #EFF6FF;
}

.banner--success {
  color: #047857;
  background: #ECFDF5;
}

.banner--warning {
  color: #B45309;
  background: #FFFBEB;
}

.banner--error {
  color: #B45309;
  background: #FEF2F2;
}

/* Banner Message */
.banner__message--neutral {
  color: #1E40AF;
}

.banner__message--success {
  color: #065F46;
}

.banner__message--warning {
  color: #92400E;
}

.banner__message--error {
  color: #92400E;
}

.banner__message--bold {
  font-weight: 700;
}

/* -------------------------- Card Component -------------------------- */

.card-grid {
 display: grid;
 grid-template: repeat(3, auto) / auto auto;
 align-items: center;
 justify-items: center;
 gap: 2em;
}

@media (max-width: 800px){
  .card-grid {
    display: flex;
    flex-direction: column;
  }
}

.card-collection__title {
  grid-column: 1 / -1;
  color: #fff;
  margin: 0 auto;
}

/* General */
.card {
  display: grid;
  grid-template: 1.5rem 1.5rem min-content / auto 3rem auto;
}

.card__content {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5em 1.5em 1em 1.5em;
}

.card__content:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
}

/* Light Mode */
.card__content--light {
  background: #F9FAFB;
}

.card__content--light .card__title{
  color: #111827;
}

.card__content--light .card__body{
  color: #6B7280;
}

/* Dark Mode */
.card__content--dark {
  background: #121212;
}

.card__content--dark .card__title{
  color: #fff;
}

.card__content--dark .card__body{
  color: rgba(255, 255, 255, 0.7);
}

/* Typography */
.card__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.card__body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

/* Icon */
.card__icon--default {
  height: 1.5rem;
  width: 1.5rem;
}

.card__icon__bg {
  border-radius: 0.375rem;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

/* Icon Built-in Background Colors */
.card__icon__bg--default { background: #3F75FE; }
.card__icon__bg--gray { background: #F3F4F6; }
.card__icon__bg--darkgray { background: #1F2937; }
.card__icon__bg--red { background: #FEE2E2; }
.card__icon__bg--darkred { background: #991B1B }
.card__icon__bg--yellow { background: #FEF3C7 }
.card__icon__bg--darkyellow { background: #92400E; }
.card__icon__bg--green { background: #D1FAE5; }
.card__icon__bg--darkgreen { background: #065F46; }
.card__icon__bg--blue { background: #DBEAFE; }
.card__icon__bg--darkblue { background: #1E40AF; }
.card__icon__bg--indigo { background: #E0E7FF; }
.card__icon__bg--darkindigo { background: #3730A3; }
.card__icon__bg--purple { background: #EDE9FE; }
.card__icon__bg--darkpurple { background: #5B21B6; }
.card__icon__bg--pink { background: #FCE7F3; }
.card__icon__bg--darkpink { background: #9D174D; }

/* -------------------------- Image Testimonial Component -------------------------- */

.image-testimonial-grid {
  display: grid;
  justify-content: center;
  padding: 3em 3em 0 3em;
  gap: 2em;
}

.image-testimonial-title {
  color: #FFF;
  margin: 0 auto 2em auto;
}

/* General */
.image-testimonial {
  height: 80%;
  font-weight: 500;
  display: grid;
}

.image-testimonial__image {
  grid-column: 2;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
}

.image-testimonial__container {
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-content: center;
  width: 100%;
}

/* Light and Dark Texts */
.image-testimonial.light {
  color: #FFFFFF;
}

.image-testimonial.dark {
  color: #121212
}

/* Image Alignment */
.image-testimonial.left {
  grid-template: 8% 84% 8% / 6% 31.5% 62.5%;
}

.image-testimonial.right {
  grid-template: 8% 84% 8% / 62.5% 31.5% 6%;
}

.image-testimonial__testimonial.left,
.image-testimonial__testimonial__name.left,
.image-testimonial__testimonial__title.left,
.image-testimonial__testimonial__icon.left {
  padding-left: 40%;
}

.image-testimonial__testimonial.right,
.image-testimonial__testimonial__name.right,
.image-testimonial__testimonial__title.right,
.image-testimonial__testimonial__icon.right {
  padding-right: 40%;
}

/* Text / Icon */
.image-testimonial__testimonial {
  font-size: 1.5rem;
  margin: 1em 0;
  line-height: 2rem;
}

.image-testimonial__testimonial__name,
.image-testimonial__testimonial__title {
  margin: 0;
  line-height: 1.5em;
}

.image-testimonial__testimonial__name {
  font-weight: 700;
}

.image-testimonial__testimonial__icon {
  order: -1;
  height: 2rem;
  width: min-content
}

/* Media Queries */
@media (max-width: 1250px){
  .image-testimonial {
    font-size: .75rem;
  }

  .image-testimonial__testimonial {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .image-testimonial__testimonial__icon {
    height: 1.5rem;
  }
}

/* Built-in Colors */
.image-testimonial__container--default { background: #2545B8; }
.image-testimonial__container--gray { background: #F3F4F6; }
.image-testimonial__container--darkgray { background: #1F2937; }
.image-testimonial__container--red { background: #FEE2E2; }
.image-testimonial__container--darkred { background: #991B1B }
.image-testimonial__container--yellow { background: #FEF3C7 }
.image-testimonial__container--darkyellow { background: #92400E; }
.image-testimonial__container--green { background: #D1FAE5; }
.image-testimonial__container--darkgreen { background: #065F46; }
.image-testimonial__container--blue { background: #DBEAFE; }
.image-testimonial__container--darkblue { background: #1E40AF; }
.image-testimonial__container--indigo { background: #E0E7FF; }
.image-testimonial__container--darkindigo { background: #3730A3; }
.image-testimonial__container--purple { background: #EDE9FE; }
.image-testimonial__container--darkpurple { background: #5B21B6; }
.image-testimonial__container--pink { background: #FCE7F3; }
.image-testimonial__container--darkpink { background: #9D174D; }

@media (max-width: 1000px) {
  .image-testimonial {
    font-size: .6rem;
  }

  .image-testimonial__testimonial {
    font-size: .8rem;
    line-height: 1.4rem;
  }

  .image-testimonial__testimonial__icon {
    height: 1.1rem;
  }

  .image-testimonial-title {
    margin-bottom: 0em;
  }
}

/* Card */
@media (max-width: 800px){
  .image-testimonial-grid {
    gap: 3em;
  }

  .image-testimonial.left,
  .image-testimonial.right {
    background: #FFF;
    grid-template: 103px 103px auto / 7.5% 85% 7.5%;
    width: 100%;
    margin: 0 auto 3em auto;
  }

  .image-testimonial__image {
    grid-column: 2;
    grid-row: 1 / 3;
    object-position: 65% 35%;
  }

  .image-testimonial__testimonial.left,
  .image-testimonial__testimonial__name.left,
  .image-testimonial__testimonial__title.left,
  .image-testimonial__testimonial__icon.left,
  .image-testimonial__testimonial.right,
  .image-testimonial__testimonial__name.right,
  .image-testimonial__testimonial__title.right,
  .image-testimonial__testimonial__icon.right {
    padding: 0;
  }

  .image-testimonial__container {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    padding-top: 150px;
  }

  .image-testimonial__testimonial {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .image-testimonial__testimonial__name {
    font-size: 1rem;
    line-height: 2rem;
  }

  .image-testimonial__testimonial__title {
    font-size: 1rem;
    line-height: 2rem;
  }

  .image-testimonial__testimonial__icon {
    height: 2rem;
  }

  .image-testimonial-grid {
    padding-bottom: 2.5em;
  }
}

@media (max-width: 400px){
  .image-testimonial__testimonial {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5em;
  }

  .image-testimonial__testimonial__icon {
    height: 1.5rem;
  }

  .image-testimonial__testimonial__name {
    line-height: 1.25rem;
  }
}

/* -------------------------- Testimonial Component -------------------------- */

.testimonial-grid {
  display: grid;
  padding: 3em;
  gap: 2em;
}

.testimonial-grid__title {
  color: #FFF;
  margin: 0 auto 0.5em auto;
}

/* General */
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 4.4em 7em 4.4em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3em;
}

/* Dark/Light Modes */
.testimonial.light {
  background: #F9FAFB;
  color: #111827;
  background-image: url("./assets/testimonial-dots-01.svg");
}

.testimonial.dark {
  background: #121212;
  color: #fff;
  background-image: url("./assets/testimonial-dots-dark.svg");
}

.testimonial.light,
.testimonial.dark {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 240px;
}

/* Content */
.testimonial__logo {
  order: -1;
}

.testimonial__quote {
  margin-top: 1.5em;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

/* Testimonial Info */
.testimonial__info {
  display: flex;
}

.testimonial__divider {
  order: -1;
}

.testimonial__name {
  order: -2;
}

.testimonial__title {
  color: #6B7280;
}

 /* Media Query */
@media (max-width: 750px) {
  .testimonial {
    text-align: left;
    padding: 4.6em 2em;
    align-items: flex-start;
  }

  .testimonial__quote {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .testimonial__info {
    flex-direction: column;
    justify-content: flex-start;
  }

  .testimonial__name,
  .testimonial__title {
    margin: 0 0 0.25em 0;
  }

  .testimonial__divider {
    display: none;
  }

  .testimonial__logo {
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 400px){
  .testimonial__quote {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5em;
  }

  .testimonial__logo {
    width: 95%;
  }
}
/* -------------------------- Tooltip Component -------------------------- */

.tooltip-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3em 3em 6em 3em;
  gap: 3.5em;
  margin: 0 auto;
  justify-items: center;
}

@media (max-width: 1250px){
  .tooltip-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: fit-content;
    padding-bottom: 1.5em;
  }

  .tooltip {
    margin-bottom: 3.5em;
  }
}

.tooltip-grid__title {
  grid-column: 1 / -1;
  margin: 0.5em auto;
  color: #fff;
}

/* General */
.tooltip {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding: 1em;
  width: 95%;
  border-radius: 0.5rem;
  display: grid;
  grid-template: min-content min-content / auto auto auto;
  grid-template-areas:
      "icon title x"
      "... text ...";
  position: relative;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

/* Arrow */
.tooltip:before {
  content: "";
  position: absolute;
  top: 98%;
  left: 13%;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* Content */
.tooltip__title,
.tooltip__text {
  margin: 0 1rem;
}

.tooltip__title {
  grid-area: title;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.tooltip__text {
  grid-area: text;
}

.tooltip__icon {
  grid-area: icon;
}

.tooltip__x {
  grid-area: x;
}

/* Colors */

/* Light */
.tooltip--light {
  background: #FFF;
  color: #6B7280;
}
.tooltip--light:before { border-top: 20px solid #FFF; }
.tooltip__title.tooltip--light { color: #111827; }
.tooltip__icon.tooltip--light,
.tooltip__x.tooltip--light { color: #6B7280; }

/* Dark */
.tooltip--dark {
  background: #262626;
  color: #C7C7C7;
}
.tooltip--dark:before { border-top: 20px solid #262626; }
.tooltip__title.tooltip--dark { color: #FFF; }
.tooltip__icon.tooltip--dark,
.tooltip__x.tooltip--dark { color: #C7C7C7; }

/* Blue */
.tooltip--blue {
  background: #1E40AF;
  color: #E8EDFF;
}
.tooltip--blue:before { border-top: 20px solid #1E40AF; }
.tooltip__title.tooltip--blue { color: #FFF; }
.tooltip__icon.tooltip--blue { color: #7EA6F2; }
.tooltip__x.tooltip--blue { color: #D8D8D8; }

/* Light Blue */
.tooltip--lightblue {
  background: #E0E7FF;
  color: #1C51B9;
}
.tooltip--lightblue:before { border-top: 20px solid #E0E7FF; }
.tooltip__title.tooltip--lightblue { color: #1E40AF; }
.tooltip__icon.tooltip--lightblue,
.tooltip__x.tooltip--lightblue { color: #1C51B9; }

/* Pink */
.tooltip--pink {
  background: #A9229B;
  color: #FFE9FD;
}
.tooltip--pink:before { border-top: 20px solid #A9229B; }
.tooltip__title.tooltip--pink { color: #FFF; }
.tooltip__icon.tooltip--pink { color: #F462E6; }
.tooltip__x.tooltip--pink { color: #D8D8D8; }

/* Light Pink */
.tooltip--lightpink {
  background: #FFF3FC;
  color: #C7369E;
}
.tooltip--lightpink:before { border-top: 20px solid #FFF3FC; }
.tooltip__title.tooltip--lightpink { color: #A9229B; }
.tooltip__icon.tooltip--lightpink,
.tooltip__x.tooltip--lightpink { color: #C7369E; }

/* Green */
.tooltip--green {
  background: #47AA5D;
  color: #E3FFE9;
}
.tooltip--green:before { border-top: 20px solid #47AA5D; }
.tooltip__title.tooltip--green { color: #FFF; }
.tooltip__icon.tooltip--green { color: #C1FFCF; }
.tooltip__x.tooltip--green { color: #D8D8D8; }

/* Light green */
.tooltip--lightgreen {
  background: #E7FFF3;
  color: #3C8C4E;
}
.tooltip--lightgreen:before { border-top: 20px solid #E7FFF3; }
.tooltip__title.tooltip--lightgreen { color: #137A2A; }
.tooltip__icon.tooltip--lightgreen { color: #41A557; }
.tooltip__x.tooltip--lightgreen { color: #3C8C4E; }

/* -------------------------- Toast Component -------------------------- */

.toast-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-grid__title {
  color: #FFF;
  margin-bottom: 1.5em;
}

.toast-button {
  padding: 2em 0;
  border-radius: 2em;
  background: #262626;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
  color: #FFF;
  border: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  width: 100%;
}

.toast-button:hover {
  background: #2a2a2a;
  cursor: pointer;
}

/* General */
.toast {
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: grid;
  grid-template: min-content min-content / min-content auto;
  grid-template-areas:
      "icon title"
      ".... text";
  width: 24rem;
  padding: 1.5em;
  gap: 0.3em 0.75em;
  justify-content: start;
  align-items: center;
  position: fixed;
  bottom: 3em;
  right: 3em;
}

.toast__title,
.toast__text {
  margin: 0;
}

.toast__title {
  grid-area: title;
  font-size: 0.875rem;
  font-weight: 500;
}

.toast__text {
  grid-area: text;
}

.toast__icon {
  grid-area: icon;
}

/* Status Colors */
.toast--neutral { background: #EFF6FF; }
.toast__title.toast--neutral { color: #1E40AF; }
.toast__text.toast--neutral { color: #1C51B9; }

.toast--success { background: #ECFDF5; }
.toast__title.toast--success { color: #065F46; }
.toast__text.toast--success { color: #047857; }

.toast--warning { background: #FFFBEB; }
.toast__title.toast--warning { color: #92400E; }
.toast__text.toast--warning { color: #B45309; }

.toast--error { background: #FEF2F2; }
.toast__title.toast--error { color: #92400E; }
.toast__text.toast--error { color: #B45309; }
